{% extends "bootstrap/base.html" %}

{% block title %}YeungYeah's Todo List{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">YeungYeah's TodoList</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li class=""><a href="http://scottyeung.top/about/">About </a></li>
        <li class=""><a href="http://scottyeung.top/">Blog </a></li>
        <li class=""><a href="https://github.com/yeung66">Github </a></li>

      </ul>
        {% if 'user' in session %}
      <form class="navbar-form navbar-right" action="{{ url_for('add_task') }}" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="添加待办事项" name="content">
        </div>
        <button type="submit" class="btn btn-default">添加</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('logout')}}">退出登录</a></li>
      </ul>
        {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}